header {

text-align: center;
padding-bottom: 50px;
background-color: rgb(115, 59, 21);
height: 200px;
padding: auto;
margin: auto;

}


header h1 {

font-size: 75px;
padding: auto;
margin: auto;


}

header p {

font-size: 25px;
padding: auto;
margin: auto;

}

input {

    padding: auto;
    margin: auto;


}

form {

text-align: center;
padding-bottom: 70px;
margin: auto;
padding: auto

}

label {

    font-family: 'Tangerine', cursive;
    padding-bottom: 20px;

}

.prof{

padding-bottom: 70px;

}