header {

    text-align: center;
    padding: auto;
    margin: auto;
    box-shadow: 0px 0px 20px black;
    height: 250px;
    width: 100%;
    animation: animateHeader 12s reverse infinite;
    background-image: url("images/header.png");
    background-repeat: repeat-x;
    background-position: 0 0;

}

header h2 {

color: #fff;

}

#play {

transform: translateY(-175px);
padding: 5px;
font: bold;
border: none;
margin-bottom: 30px;


}

#play:hover {

background-color: #e67a16;
transition-duration: 0.75s;
border: none;
}


#fly {

scale: 30%;
translate: 0 -250px;
animation: fly 5s infinite;
animation-delay: 0s;
padding: 0%;
margin: 0%;

}

@keyframes fly {
    0% { transform: translateY(0); }
    25%  {transform:translateY(50px); }
    50%  {transform:translateY(100px); }
    75% { transform: translateY(50px); }
    100% { transform: translateY(0); }
}


@keyframes animateHeader {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 6000px 0;
    }
}

.glow {

    font-size: 75px;
    font-family: 'EB Garamond', serif;
    font-size: 75px;
    padding-top: 30px;
    color: #fff;
    animation: glow 2s ease-in-out infinite alternate;

}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #da6900, 0 0 40px #ce5d00, 0 0 50px #e08700, 0 0 60px #cf5300, 0 0 70px #e67a16;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #8d0000, 0 0 40px #b40000, 0 0 50px #960000, 0 0 60px #970000, 0 0 70px #a70000, 0 0 80px #ad0000;
    }
}

header p {

    font-size: 25px;

}

.main {

    background-image: url("images/image 1.png");
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-size: cover;
    margin: auto;
    padding: auto;

}

body {

    text-align: center;
    background-color: rgb(61, 14, 14);
    margin: auto;
    padding: auto;

}



#myForm {

    text-align: center;
    margin: auto;
    padding: 30px;
    fill: none;
}

label {

    font-family: 'Tangerine', cursive;
    font-size: 30px;

}

input {
    fill: none ;
    border: none;
    border-bottom: 2px solid rgb(49, 0, 0);
    margin-bottom: 8px;

}

#professors {

    margin: 10px;
    padding: 20px;
}