header {

    text-align: center;
    margin-bottom: 50px;
    padding: auto;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 230, 0);

}

header h1 {

    animation: blink 1s steps(4, start) infinite;

}

@keyframes blink {

    to {
        visibility: hidden
    }

}



body {

    margin: auto;
    padding: auto;
    background-color: rgb(0, 0, 0);


}

#container {

    margin: auto;
    padding: auto;
    max-width: 1200px;
    height: 900px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 3px 3px 23px 1px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

#floor {

    height: 250px;
    background-color: antiquewhite;
    position: relative;

}

#eggside {

    transform: translateY(-200px);
    position: absolute;

}

#egg {

    transform: translate(150px, -120px);

}

#egg:hover {

    scale: 110%;
    transition-duration: 1s;

}

@keyframes shake {

    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(45deg);
    }

    100% {
        transform: rotateZ(0deg);
    }

}

#profside {

    position: relative;
    left: 400px;
    top: -100px;
    transform: scale(180%);
    animation: up 2s infinite;

}

@keyframes up {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }


}


/* #arm {

animation: armMove 1s infinite;
transition-duration: 3s;

} */

/* @keyframes armMove {
    
0% {transform: rotateZ(0deg);}
50% {transform: rotateZ(10deg)}
100% {transform: rotateZ(23deg)}
50% {transform: rotateZ(-10deg)}
0% {transform: rotateZ(0deg)}

} */


/* Pokeball images and animations */
/* Overlays baby */


#overlayBall1,
#overlayBall2 {

    background-image: url(images/overlay.png);
    background-size: cover;
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.5); */
    top: 50%;
    left: 50%;
    width: 466px;
    height: 531px;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    z-index: 100;
}

#overlayBall3 {

    background-image: url(images/overlay.png);
    background-size: cover;
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: auto;
    margin: auto;
    transform: translateY(200px);
    width: 466px;
    height: 531px;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    z-index: 100;

}

#overlayBall3 article {

    text-align: center;
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    width: 466px;
    height: 531px;
    font-family: 'Press Start 2P', cursive;
    z-index: 100;
}

   
#overlayBall1,
#overlayBall2 {
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 466px;
    height: 531px;
    font-family: 'Press Start 2P', cursive;
    z-index: 100;
}

#overlayBall1,
#overlayBall2,
#overlayBall3 article p {

    padding-bottom: 40px;

}

/* overlay egg image */
#ovegg {

animation: shake 1s infinite;
transition-delay: 0ms;

}

#overlayEgg {

    background-image: url(images/overlay.png);
    background-size: cover;
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.5); */
    transform: translate(50%, -50%);
    width: 466px;
    height: 531px;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    z-index: 100;
    text-align: center;
    font-family: 'Press Start 2P', cursive;

}

#overlayEgg,#overlayProf h2 {

    font-size: 20px;

}

#overlayEgg, #overlayProf p {

    font-size: 13px;
    padding-top: 20px;

}

@keyframes shake{

0% { transform: rotateZ(0deg); }
25% { transform: rotateZ(-10deg); }
50% { transform: rotateZ(10deg); }
100% { transform: rotateZ(0deg); }

}

#overlayProf {

    background-image: url(images/overlay.png);
    background-size: cover;
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.5); */
    top: 50%;
    left: 50%;
    width: 466px;
    height: 531px;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    z-index: 100;
    text-align: center;
    font-family: 'Press Start 2P', cursive;

}


#ball1:hover {

    scale: 120%;
    transition-duration: 1s;

}

#ball2:hover {

    scale: 120%;
    transition-duration: 1s;

}

#ball3:hover {

    scale: 120%;
    transition-duration: 1s;

}

#tableside {

    z-index: 5;
    float: right;
    position: relative;
    transform: translate(-50px, -300px);

}

#tableside p a {

    float: right;
    transform: translateX(-75px);
}

#balls {
    transform: translate(50px, -200px);

}

#balls img {

    padding-right: 20px;
}

/* #ball1:hover {

animation: rattle 1s infinite;

}

@keyframes rattle{

    0% {transform: rotateZ('0deg');}
    50% {transform: rotateZ('40deg');}
    100% {transform: rotateZ('0px');}

} */

#textbox {

    padding: 100px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    text-align: left;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    z-index: 5;


}

#textbox p {

    padding: auto;
    margin: auto;
    line-height: 50px;

}

#next {

    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #888888;
    font-family: 'Press Start 2P', cursive;
    background-color: #ffffff;
}

#back {

    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #888888;
    font-family: 'Press Start 2P', cursive;
    background-color: #ffffff;
}




footer {

    margin: auto;
    padding: 50px;
    max-width: 1200px;
    height: 100px;
    text-align: center;

}

footer a {
    padding: 80px;
    text-decoration: none;
    color: rgb(255, 230, 0);
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;

}

.hide {
    visibility: hidden;
    opacity: 0;
}

.show {
    visibility: visible;
    opacity: 1;
}