header {

    height: 250px;
    max-width: 1200px;
    background-color: burlywood;
    text-align: center;
    margin: auto;


}

header h1 {

    font-size: 100px;

}

p,
h2 {

    padding: 5px;

}

.container {
    width: 1200px;
    height: 720px;
    background-color: rgb(97, 47, 14);
    margin: auto;
    padding: auto;
}


#st-box {
    width: 1000px;
    height: 200px;
    background-color: rgb(255, 157, 157);
    border: solid black;
    margin: 10px;
    margin: auto;
    padding: auto;
}

#nd-box {
    width: 1000px;
    height: 200px;
    background-color: rgb(77, 148, 255);
    border: solid black;
    margin: 10px;
    margin: auto;
    padding: auto;
}

#rd-box {
    width: 1000px;
    height: 200px;
    background-color: rgb(211, 125, 28);
    border: solid black;
    margin: 10px;
    margin: auto;
    padding: auto;
}


body {

    max-width: 1200px;
    background-color: rgb(63, 11, 11);
    margin: auto;
    padding: auto;

}

footer {

    height: 100px;
    max-width: 1200px;
    background-color: burlywood;
    text-align: center;
    margin: auto;
    padding: auto;

}